extends layout

block content
    include ./includes/navbar
    .container
        p(style={color:"#3b5998", 'font-weight':"bold"}) Total Fans today: #{pageEngagement[0].values[0].value.toLocaleString()}
            .row 
                .col
                    figure(class="highcharts-figure")
                        #pieChart 
                .col
                    figure(class="highcharts-figure")
                        #genderChart 
            .row
                .col
                    //- table(class="table table-sm table-hover")
                    //-     thead
                    //-         tr
                    //-             th(scope="col") 
                    //-             th(scope="col") Fans/Country 
                    //-             th(scope="col") Value
                    //-             th(scope="col") Ratio/Tot.Fans
                    //-     tbody
                    //-         each obj, key in pageUserDemographics.country
                    //-             tr
                    //-                 th(scope="row")
                    //-                 td= key
                    //-                 td= obj.toLocaleString()
                    //-                 td= (obj/pageEngagement[0].values[0].value*100).toFixed(2) + '%'
                    table(class="table table-sm table-hover")
                        thead
                            tr
                                th(scope="col") 
                                th(scope="col") Fans/Langue 
                                th(scope="col") Value
                                th(scope="col") Ratio/Tot.Fans
                        tbody
                            each obj, key in pageUserDemographics.lang
                                tr
                                    th(scope="row")
                                    td= key
                                    td= obj.toLocaleString()
                                    td= (obj/pageEngagement[0].values[0].value*100).toFixed(2) + '%'
                .col
                    table(class="table table-sm table-hover")
                        thead
                            tr
                                th(scope="col") 
                                th(scope="col") Top50 Fans/City 
                                th(scope="col") Value
                                th(scope="col") Ratio/Tot.Fans 
                        tbody
                            each obj, key in pageUserDemographics.city
                                tr
                                    th(scope="row")
                                    td= key
                                    td= obj.toLocaleString()
                                    td= (obj/pageEngagement[0].values[0].value*100).toFixed(2) + '%'
    script.
        var pieChart = [!{gendersDistribution.pie.map(el => `{name:'${el[0]}',y:${el[1]}}`)}]
        var categories = [!{gendersDistribution.male.map(el => `'${el[0]}'`)}]
        Highcharts.chart('genderChart', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Total Fans gender distribution'
            },
            xAxis: [{
                categories: categories,
                reversed: false,
                labels: {
                    step: 1
                },
                accessibility: {
                    description: 'Age (male)'
                }
            }, { // mirror axis on right side
                opposite: true,
                reversed: false,
                categories: categories,
                linkedTo: 0,
                labels: {
                    step: 1
                },
                accessibility: {
                    description: 'Age (female)'
                }
            }],
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return Math.abs(this.value)/1000 + 'K';
                    }
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                        'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },
            series: [{
                name: 'Male',
                data: [!{gendersDistribution.male.map(el => el[1]*-1)}]
            }, {
                name: 'Female',
                data: [!{gendersDistribution.female.map(el => el[1])}]
            }]
        });
        Highcharts.chart('pieChart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Total Fans by countries'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Country',
                colorByPoint: true,
                data: pieChart
            }]
        });
